
html{
    font-family: Ubuntu;
    margin:0;
    padding: 0;
    height: 100%;
    background-color: dimgrey;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#loader {
	position: fixed;
    margin: 0 auto;
    height: 100%;
    width: 100%;
	background-color: dimgrey;
	z-index: 9999;
	background-image: url("../assets/loader/loading.gif");
	background-position: center;
	background-repeat: no-repeat;
    background-size: 13vw;
}

header{
    width: 100%;
    height: 75px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

main{
    width: 1280px;
    height: 725px;
    margin: 0 auto;
    background-color: dimgrey;
}

@font-face {
  font-family: "cyber";
  src: url('../kelmscott_roman/Arkhip_font.ttf') format('truetype');
}

canvas{
    margin: 0 auto;
}

.fontLoader {
    position: absolute;
	visibility:hidden;
	font-family:"cyber";
}

.cont{
    width: 1280px;
    height: 75px;
    margin: 0px auto;
    background-color: #f2f2f2;
}

.login{
    float: right;
    margin: 17.5px 30px 15px 0;
    width: 80px;
    height: 40px;
    border: 1px solid;
    border-color: darkgray;
    border-radius: 4px;
    background-color: #cccccc;
}

.signUp{
    float: right;
    margin: 17.5px 30px;
    width: 80px;
    height: 40px;
    border: 1px solid;
    border-color: darkgray;
    border-radius: 4px;
    background-color: #cccccc;
}

.loginCheck, .register{
    float: right;
    margin: 0 0 0 130px;
    width: 80px;
    height: 40px;
    border: 1px solid;
    border-color: darkgray;
    border-radius: 4px;
    background-color: #cccccc;
    float: left;
}

.cancelLogin{
    float: left;
    margin: 0 0 0 30px;
    width: 80px;
    height: 40px;
    border: 1px solid;
    border-color: darkgray;
    border-radius: 4px;
    background-color: #cccccc;
}

.log{
    text-align: center;
    margin-top: 9px;
}

.login:hover, .signUp:hover, .loginCheck:hover, .cancelLogin:hover, .register:hover{
    background-color: #408080;
    cursor: pointer;
    border-color: #000000;
}

.loginDialog, .signupDialog{
    opacity: 0.93;
    position: fixed;
    background-color: #f0f0f0;
    display: none;
    width: 454px;
    height: 280px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #000000;
    float: left;
    margin: 50px 0 0 413px;
}

.signupDialog{
    height: 355px;
}

.line{
    height: 1px;
    width: 414px;
    background-color: black;
    margin: 0 20px 20px 20px;
    float:left;
}

.dialogHeader{
    margin: 10px 200px;
    float: left;
    font-size: 20px;
}

.input{
    -moz-box-sizing: content-box; 
    -webkit-box-sizing: content-box; 
    width: 235px;
    height: 25px;
    border: 0px;
    padding-left: 5px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 2px #888888;
    -webkit-box-shadow: 0 0 2px #888888;
    box-shadow: 0 0 2px #888888;
}

.username{
    margin: 10px 48px 20px 20px;
    float: right;
}

.userLabel{
    margin: 14px 0 0 45px;
    width: 100px;
    height: 20px;
    float: left;
}

.passLabel{
    margin: 37px 0 0 45px;
    float: left;
}

.password{
    margin: 10px 48px 0 0;
    float: right; 
}

.password-retype{
    opacity: 1;
    margin: 30px 48px 0 0;
    float: right;
}

.passLabelRetype{
    display: inline-block;
    float: left;
    margin: 35px 0 0 20px;
}


.forgot{
    margin: 20px 0 20px 100px;
    display: inline-block;
    float: left;
}

.email{
    margin: 30px 0px 22px 67px;
    float: left;
}

.emailLabel{
    float: left;
    margin: 35px 0 0 60px;
}

.info{
    margin: 5px 25px 0px 0px;
    float: right;
}

.infoText{
   margin:0;
}

.infoDialog{
    display: none;
    width: 300px;
    border: 1px solid;
    border-color: #000000;
    border-radius: 4px;
    background-color: #f0f0f0;
    float: right;
    position: relative;
    margin: 310px -150px 0 0;
    padding: 10px;
    box-shadow: 2px 2px 2px #696960;
}

.hidden{
    position: absolute;
    display: none;
}

.capsLockWarning{
    color: crimson;
    position: absolute;
    margin: 110px 0 0 200px;
    
}

#RSlogo{
    float: left;
    margin: 325px 0 0 345px;
    position: fixed;
    margin: 10% auto;
    left: 0;
    right: 0;
    z-index: 0;
}


.accountSettingsINPUT {
    width:25vw;
    height:4vh;
    font-size:3vh;
    font-family:"Ubuntu";
}
