.portlet-content{/*Extend existing styles when on assets page*/
    height: 68vh;
    overflow: scroll;
}
#sidebar{
    padding-top:106px!important;
}
.span-23 {
    margin-right: 0!important;
}
#content{
    padding-right:0!important;
}
/**/
.scanResultWrapper {
    /*float:right;*/
    text-align: center;
    margin-bottom:0;
}
.folderScanResult img {
    max-width: 160px;
    max-height: 130px;
}
.assetBlock {
    width:45%;
    display:inline-block;
    margin:1% 2.5%;
    text-align: center;
}
.assetBlock .wrapper {
    margin-top:10px;
    margin-bottom:5px;
}
.assetImg {
    display:block;
    margin:0 auto;
    height:75px;
}
.serverImg {
    display:block;
    margin:0 auto;
    max-height:75px;
    max-width:100%;
}
.assetBlock input[type=text]{
    width:75%;
    text-align: center;
}
.fa-check{
    color:green!important;
}
.fa-times {
    color:red!important;
}
.savingStatus{
    margin:0 auto;
}
.iconWrapper{
    height:27px;
    width:27px;
    float:right;
}
.assetBlock h3 {
    height:27px;
    vertical-align: top;
    margin-left:27px;
    display: inline-block;
    margin-bottom: 0.5em!important;
}
.items{
    overflow-y: scroll;
    height:72vh;
    border:1px solid #1d315a;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
#chosenAsset {
    max-width: 160px;
    max-height: 130px;
}
#displayChosenImg{
    max-width:100px;
    max-height:75px;
    margin:15px;
    display:block;
}
.uploaderH1{
    margin-top:25px;
}